<%- include('top') %>

<div class="container">
    <form action="<%= editUser  ? `/users/update/${editUser .id}` : '/users' %>" method="POST">
        <input type="text" name="full_name" placeholder="שם מלא" value="<%= editUser  ? editUser.full_name : '' %>" required>
        <input type="email" name="email" placeholder="אימייל" value="<%= editUser  ? editUser.email : '' %>" required>
        <input type="text" name="phone" placeholder="טלפון" value="<%= editUser ? editUser.phone : '' %>" required>
        
        <select name="role">
            <option value="client" <%= editUser  && editUser.is_member ? "selected" : "" %>>לקוח</option>
            <option value="trainer" <%= editUser  && editUser.is_trainer ? "selected" : "" %>>מאמן</option>
            <option value="admin" <%= editUser  && editUser.is_admin ? "selected" : "" %>>מנהל</option>
        </select>

        <button type="submit"><%= user ? "🔄 עדכן משתמש" : "➕ הוסף משתמש" %></button>
    </form>

    <!-- כפתור חזרה -->
    <a href="/users"><button>🔙 חזור לרשימה</button></a>
</div>

<%- include('bottom') %>
